.logo {
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-color: #d9d9d9;
  margin-right: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 32px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.grid {
  margin-bottom: calc(var(--gap) * 10);
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.pageContent {
  flex: 1 1 auto;
}

.rightSideButton {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}