.checkBox {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    .icon {
      fill: var(--disabled-color);
    }
  }
}

.icon {
  margin-right: calc(var(--gap) * 2);
  flex: 0 0 auto;
}
