.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  padding: calc(var(--gap) * 8);
  background-color: var(--bg-light-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--gap) * 6);
}

.content {
  min-width: 404px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: calc(var(--gap) * 4);
  width: 100%;
}
