.header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.page {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  &>div {
    flex: none;
  }
}

.additionalText {
  margin-top: -18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #76787A;
}

.buttons {
  padding-top: 22px;
}

.error {
  color: #FF2E56;
}